body{
    background-color: aquamarine;
    color: bisque;
}
@media(min-width:600px){
    body{
        background-color: blueviolet;
    }
}
@media(min-width:758px){
    body{
        background-color: rgb(219, 20, 20);
    }
}
@media(min-width:992px){
    body{
        background-color: rgb(206, 216, 71);
    }
}
@media(min-width:1200px){
    body{
        background-color: rgb(43, 226, 141);
    }
}