body{
    background-image: url("descarga.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    /* Font Colour */
    color:white;
}
.main{
background-color: hsla(222, 14%, 15%, 0.75);
    margin: auto;
    flex-direction: column;
    gap: 100rem;
    max-width: 150rem;
    padding: 5rem;
    border-radius: 10rem; }